* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.page {
    position: relative;
   width: 100%;
    height: 1080px;
    background: #321A4A;
    margin: 0 auto; 
    color: #FFFFFF; 
}

.head {
    position: absolute;
    width: 1600px;
    height: 100px;
    left: 160px;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
}

.nav {
    display: flex;
    gap: 270px;
    margin-right: auto; 
    margin-left: 300px; 
}

.link {
    text-decoration: none;
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
    color: #FFFFFF;
}

.icon {
    width: 100px;
    height: 100px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.profile-img {
    width: 100px; 
    height: 100px;
}

.main-card {
    position: absolute;
    width: 1200px;
    height: 770px;
    left: 360px;
    top: 200px;
    border: 1px solid #FFFFFF;
    border-radius: 60px;
}

.title {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50px; 
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
    color: #FFFFFF;
}

.pink-card {
    position: absolute;
    width: 1000px;
    height: 560px; 
    left: 100px; 
    top: 140px;
    background-color: #FB9BD6; 
    border-radius: 40px;
    padding: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    height: 100%;
}

.row {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
}

.row.center {
    justify-content: center;
    margin-top: 10px;
}

.input {
    width: 280px; 
    height: 50px;
    background: #D9D9D9; 
    border: none;
    border-radius: 15px;
    padding: 0 20px;
    font-size: 20px;
    color: black; 
    outline: none;
}

.textarea {
    width: 100%;
    height: 220px;
    background: #D9D9D9;
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    color: black;
}

.select-wrap {
    position: relative;
    width: 280px;
}

.select {
    width: 100%;
    cursor: pointer;
        appearance: none;   
}

.arrow {
    position: absolute;
    right: 20px;
    top: 15px;
    color: black;
    font-size: 20px;
    pointer-events: none; 
}

.btn {
    width: 220px;
    height: 50px;
    background: #321A4A; 
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
}

::placeholder {
    color: black;

}
